@media screen and (min-width: 1200px){
/*DESKTOP*/
.col{ width: 1152px; }
.col-4{width: 288px;}
.col-4-05{width: 144px;}
.col-4-1{width: 288px;}
.col-4-2{ width: 576px; }
.col-4-3{ width: 864px; }
.col-4-4{ width: 1152px; }
.col-3-05{ width: 192px; }
.col-6{ width: 192px; }
.col-8{ width: 144px; }
.col-3{ width: 384px; }
.col-3-g{ width: 384px; }
.col-3-1{ width: 384px; }
.col-3-2{ width: 768px; }
.col-3-3{ width: 1152px; }
.no-desktop{display: none;}
.desktop{display: block;}
}

@media screen and (max-width: 1199px){
/*TABLET-HORIZONTAL*/
.col{ width: 960px; }
.col-4{ width: 240px; }
.col-4-05{width: 120px;}
.col-4-1{ width: 240px; }
.col-4-2{ width: 480px; }
.col-4-3{ width: 720px; }
.col-4-4{ width: 960px; }
.col-3-05{ width: 160px; }
.col-6{ width: 160px; }
.col-8{ width: 120px; }
.col-3{ width: 320px; }
.col-3-g{ width: 320px; }
.col-3-1{ width: 320px; }
.col-3-2{ width: 640px; }
.col-3-3{ width: 960px; }
.no-desktop-960{display: none;}
.desktop-960{display: block;}
}
@media screen and (max-width: 1024px){
/*TABLET-VERTICAL*/
.col-4{ width: 360px; }
.col-4-05{width: 180px;}
.col-4-1{ width: 720px; }
.col-4-2{ width: 720px; }
.col-4-3{ width: 720px; }
.col-4-4{ width: 720px; }
.col-3-05{ width: 240px; }
.col-6{ width: 240px; }
.col-8{ width: 180px; }
.col-3{ width: 720px; }
.col-3-g{ width: 360px; }
.col-3-1{ width: 720px; }
.col-3-2{ width: 720px; }
.col-3-3{ width: 720px; }
.col{ width: 720px; }
.no-tablet{display: none;}
.tablet{display: block;}
}
@media screen and (max-width: 768px){
/*MOBILE-HORIZONTAL*/
.col{ width: 432px; }
.col-4{ width: 432px; }
.col-4-05{width: 216px;}
.col-4-1{ width: 432px; }
.col-4-2{ width: 432px; }
.col-4-3{ width: 432px; }
.col-4-4{ width: 432px; }
.col-3-05{ width: 216px; }
.col-6{ width: 432px; }
.col-8{ width: 432px; }
.col-3{ width: 432px; }
.col-3-g{ width: 432px; }
.col-3-1{ width: 432px; }
.col-3-2{ width: 432px; }
.col-3-3{ width: 432px; }
.no-mobile{display: none;}
.mobile{display: block;}
}
@media screen and (max-width:480px) {
/*MOBILE-VERTICAL*/
.col{ width: 100%;margin: auto; }
.col-4{ width: 100%;margin: auto; }
.col-4-05{width: 50%;}
.col-4-1{ width: 100%;margin: auto; }
.col-4-2{ width: 100%;margin: auto; }
.col-4-3{ width: 100%;margin: auto; }
.col-4-4{ width: 100%;margin: auto; }
.col-3-05{ width: 50%;margin: auto; }
.col-6{ width: 100%;margin: auto; }
.col-8{ width: 100%;margin: auto; }
.col-3{ width: 100%;margin: auto; }
.col-3-g{ width: 100%;margin: auto; }
.col-3-1{ width: 100%;margin: auto; }
.col-3-2{ width: 100%;margin: auto; }
.col-3-3{ width: 100%;margin: auto; }
.no-mobile{display: none;}
.mobile{display: block;}
}
